footer{
    background-color: #dfe4ea;
    padding: 5px 0;
    font-size: 90%;
    width: 100%;
    position: absolute;
    bottom: auto;
    left: 0;
    z-index: 1000;
}
.footer-nav{
  text-align: center;
}
.social-links{
  text-align: center;
    font-size: 160%;
}
.footer-nav li,
.social-links li{
    padding: 0 3%;
    list-style:none;
    display: inline-block;
    margin-right: 1%;
}
.footer-nav li a:link,
.social-links li a:link,
.footer-nav li a:visited,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #636e72;
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    font-weight: 700;
    color: #2d3436;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}
footer p{
    color:#636e72;
    margin: 5px;
    margin-top: 0;
    text-align: center;
}
@media only screen and (max-width: 600px) {
	.span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}
}
