<footer>
    <div class="row">
      <div class="col span-1-of-2">
      <ul class="footer-nav">
        <li><a routerLink="/aboutus">About us</a></li>
        <li><a routerLink="/ourmoto">Our Moto</a></li>
        <li><a routerLink="/suggestion">Suggestions</a></li>
      </ul>
      </div>
      <div class="col span-1-of-2">
      <ul class="social-links">
          <li><a target="_blank"
             href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.guidals.com%2F&amp;src=sdkpreparse"
             class="fb-xfbml-parse-ignore">
             <i class="ion-social-facebook"></i>
            </a> </li>
          <li><a href="https://plus.google.com/share?url=http://www.guidals.com/" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <i class="ion-social-googleplus"></i>
           </a> </li>
        </ul>
        </div>
    </div>
    <div class="row">
      <p>  Copyright &copy; 2018 by Guidals. All rights reserved  </p>
    </div>
</footer>
