<header class="com_pag"x>
  <div class="com_text" >
<p>Here are some things about me</p>
</div>
</header>
<div class="row com_txt">
<h3>About Us</h3>
<p>
  Hi there, My name is Ayush Singhal and I am currently pursuing my cse. I started coding while I was 16 years old. GUIDALS is my first complete project. I had always believed that one can get more knowledge from the internet than any source around. GUIDALS is the result of that belief. When I was a beginner I was always confused about where to begin how to start though I was lucky that I had a brother from same cse background. He guided me through various channels around the internet where courses on programming are available. <br> <br>
   Considering the problem I had back then I thought of a hub that contains all the links to resources around the internet on a particular
   programming language. Thus, GUIDALS came into existence. Though it does not hold each and every link but doing something is better
   than nothing. <br> <br>
   We at GUIDALS are working hard to add all the links to resources for all available programming language. For the beginning, we are only focused
   on programming, but we promise to expand fields if this goes well. For any issue or suggestion write us in our suggestions menu we will
   be happy to assist you.
</p>
</div>
