<div class="row cont">
  <section class="col frtut span-5-of-6">
    <h2>Paid Tutorial Sites</h2>
    <p class="tit-desc">Here is the list of some websites offering paid tutorials.
      These websites offer a certificate for courses they offer.
      This page gives you a preview of the course they offer and these websites have guidelines
      for creators too so that you get best out of these courses. It based on your choice whether
      you want a paid or free tutorial series but these sites can help in summer courses during
      college summer break. I suggest you have a look at some of these websites.</p>



      <div class="mar">
        <google-adsense [data]="9549554097"></google-adsense>
      </div>
      <h4>List of Sites</h4>
      <div *ngFor="let pasi of paisit;let i = index">
        <div class="row box" >
          <div class="col span-1-of-6"><img src="{{pasi.logourl}}" class="logo-web"></div>
          <div class="col span-5-of-6 main-bd"><h5>{{pasi.name}}</h5>
            <div >
              <h6>Founder Name: {{pasi.creanm}}</h6>
            </div>
            <div>
              <p class="desc">
                {{pasi.describ}}
              </p>
            </div>
            <div class="btn">
              <a href="{{pasi.lnkto}}" class="free-lnk lnk-nav"  target="_blank">Start Learning</a>
            </div>
          </div>
        </div>
        <div class="mar"  *ngIf="i ===4">
          <google-adsense [data]="2106958591"></google-adsense>
        </div>
      </div>
    </section>
    <section class="col span-1-of-6 dis">
      <div>
        <google-adsense [data]="4673998918"></google-adsense>
      </div>
    </section>
  </div>
