<div class="row cont">
<section class="col frtut span-6-of-6">
  <h2>Best Practice While Coding</h2>
   <p class="tit-desc">You have learned languages know data structures and become good at logic building. Now, you want to start
    a project or participate in competition around a competitive website and got yourself stuck on a problem related to string or you wrote a
    perfect code but compiler shows error. Don't worry this page cover all solution to the problem faced by programmers while coding just have a look at these points and you get to know how to deal with it.
   </p>
   <div class="row hc-box">  <h3><i class="ion-ios-pricetags"></i>  Praticipate in competitive programming</h3>
     <img src="https://d18y63m4qq797z.cloudfront.net/bstprc_1_3453486837jkbhv45754nv5.png" alt="">
      <p class="desc">Learning programming language is not all if you don't know how to implement it that's where competitive programming come into play i.e solving problem for practice.
        There are websites which help Coders to practice their competitive programming skills. Practicing on these websites increase your logic building and problem analysis skills.
        These websites have problems specific to your ability you can also participate in competitions organized here they offer some prizes too. Here is a link to the list of some these websites.
       </p><a routerLink="../competitivecodingsites" class="btn-ht">Jump to page</a></div>

       <div class="row hc-box"> <h3><i class="ion-ios-pricetags"></i>  Use online forums to solve problem</h3>
         <img src="https://d18y63m4qq797z.cloudfront.net/bstprc_2_s346346nmbm466.png" alt="">
       <p class="desc">Now you are participating in a competition and your code did not pass even though you had written the correct logic. You applied hundreds of logic and even then you code broke every time, that's where online
       forums come in, these forums help coders to understand the problem they face while coding, you just need to log in and ask a question, other developers will respond with a solution. You too can help by responding to problem other coder posts there. Some of these forums have pointing system where points are being given by viewers on the basis of how correct your answer, These points can help in your recruitment sometime. To see the list of forums click on the button given below.</p>
   <a routerLink="../helpformsites" class="btn-ht">Jump to page</a></div>

     <div class="row hc-box"> <h3><i class="ion-ios-pricetags"></i> Start doing some projects</h3>
       <img src="https://d18y63m4qq797z.cloudfront.net/bstprc_3_ee456457ncdfjnh77547.png" alt="">
        <p class="desc">You have learned language doing you competitive programming but now what. Doing practice or winning competition will never help you become Mark Zuckerberg. Start working on some projects
        if you don't have any idea yet then you can clone an existing project but don't push into production though. Some time student starts on some project then they google and see that their idea is already implemented, so what let me tell you that there are 100 or more chat app on play store and every app is being used by the users. Think what can you do better than the already existing application. Just start working on your project it will give you an idea how to develop a project.</p></div>

   <div class="row btm">
     <p class="tit-desc">Now that you know what is best practice while coding here is a small tip for you, the world is expanding day by day there is new technology emerging so, I would advise you to never stop learning.
       Learn something new or polish your existing skills. Here is the link to our resources page have a look at our content.
  </p>
    <a routerLink="../" class="btn-ht">Jump to page</a>
   </div>
</section>
</div>
