<header class="front_pag">
  <div class="main_text">
  <h2 class="main_logo">Guidals</h2>
<p class="wid30">You want to learn, We know the way.</p>
<a routerLink="/resources" class="btn_1">Get Started</a>
</div>
</header>
<div class="intr-d">
<div class="int-head"><h2>
  What we offer for our readers</h2>
  <p class="long-cpy">
    We provides the links to all the content for language you want learn. We promise to give you links to some best resource content.
  </p>
</div>
<div class="row">
    <div class="col span-1-of-3 box">
      <i class="ion-ios-monitor-outline ic_big"></i>
      <h3>Fully Responsive design</h3>
      <p>Our site is fully responsive so that you can access it from anywhere from laptop to smartphone. Most of
      our content promote online education because it is easily accessible at any time and anywhere on the
      feasibility of our viewers.</p>
    </div>
    <div class="col span-1-of-3 box">
      <i class="ion-ios-list-outline ic_big"></i>
      <h3>Rich Resource Content</h3>
      <p>We have created the list of every website that helps a developer in improving his skills or helps to solve a problem.
      We will always try to keep our content up to date. We will constantly add new content so that you don't run out of resources.
      </p>
    </div>
    <div class="col span-1-of-3 box">
      <i class="ion-ios-compose-outline ic_big"></i>
      <h3>Good Support Team</h3>
      <p>We are always happy to hear from our viewers. You can write us anytime for any issues or suggestion. You can also subscribe to our newsletter so that you get informed whenever some new content
    is added to our website.</p>
    </div>
  </div>
</div>
  <div class="moti-1">
    <div class="main_text">
    <p class="gui txt1">Starting as a beginner have a look at our <br> <b> How To Code As beginner </b> <br>section of resource menu and start developing soon.</p>
    <p class="gui txt2">Starting as a beginner have a look at our<b> How To Code As beginner </b>section of resource menu and start developing soon.</p>
  <a routerLink="/resources/howtoprmasbeginr" class="btn_1">Jump to Page</a>
    </div>
  </div>
