<div class="row cont">
<section class="col frtut span-5-of-6">
  <h2>How to code as beginner</h2>
   <p class="tit-desc">The most common question of a student who want to start programming is how to start
     learning programming language. Well know you are on the right page to find the answer to that question.
      First and for most you need to have that hunger to learn more and practice every day.
       Programming is easy the only thing lies in logic building which is complicated.
     One thing that makes programming easy is its problem relation with real world i.e problem you face in day
     to day life if you are good in that then you ready to spread the magic.
      Lets discuss some steps you should follow to become a coder.</p>
      <div class="mar">
        <google-adsense [data]="9549554097"></google-adsense>
      </div>
  <div class="row hc-box">  <h3><i class="ion-ios-pricetags"></i>  So many language where to start???</h3>
    <img src="https://d18y63m4qq797z.cloudfront.net/htcode_1_6326683182-min.png" alt="">
     <p class="desc">There are more than 100 languages and as a beginner students are always confused which one to pick. Choose a language
       that can serve your purpose but for basics, i would recommend you to choose a language like c, c++, java etc. These languages can be used anywhere from offline program to a web application. If I would have started today
       I would pick python or java as my first language but a language is only the way to write program. Learning a language is not what programming is, In simple terms programming is not about the language it is
       about how you solve a problem, language is only a way that helps to describe it to the computer. That is why you need to know at least one programming language so I would recommend you java because it is always
       in demand and web is filled with java based content on steps mentioned below.
      </p></div>

      <div class="row hc-box"> <h3><i class="ion-ios-pricetags"></i>  How to build a good program???</h3>
        <img src="https://d18y63m4qq797z.cloudfront.net/htcode_2_pyfNZ3ZP5znyQ-min.png" alt="">
      <p class="desc">Language is learned now what? Let's see as a coder I always believe that language is learned in no time the main thing is how to use that language to build a perfect code.
         Now to answer that question I would recommend you to understand coding technique like dynamic programming, recursion, complexity reduction technique (i.e time consumed to run a program, memory used by the program)
       Learning these techniques can be a good boost to your coding skills. These techniques are hard to grasp but once mastered then they can be a perfect weapon in your arsenal.</p></div>
       <div class="mar">
         <google-adsense [data]="2106958591"></google-adsense>
      </div>
    <div class="row hc-box"> <h3><i class="ion-ios-pricetags"></i>  Data Structures is it important???</h3>
      <img src="https://d18y63m4qq797z.cloudfront.net/htcode_3_26_6826651476.png" alt="">
       <p class="desc">If you had covered the above two steps then you are more than ready to call your self a good coder, but for perfection, this section is very important for all coder because it is about Data Structures.
       Data Structures the most important in any coders life, it helps reduce the complexity of your code, helps to create better logic to organize your data. Data Structures is the basis for the neural network.
     It is so important that every coding interviews revolve around it. Its like heart of programming. Having learned data structures makes a coder perfect. Having said all this I must tell you that understanding data structures
     itself is not easy but once practiced then it will make your life much easier as a coder. It has searching technique, sorting technique, tree, graph etc.These techniques help companies to handle large data
  . Master data structures and you will be ready to solve any problem.</p></div>

  <div class="row btm">
    <p class="tit-desc">Now that you know how to start you can have a look at our resources for the language you have chosen.
     As a side note, i must clarify that step 1 is the first priority for beginners but step 2 and 3 are interdependent. So, you have to understand both side by side. Once you get started it will become more clear to you.
   If you are already coding and want to start some project I would suggest you have a look at our <b> ' Best Practice in Coding '</b> section.
 </p>
   <a routerLink="../bestpracticewhilecoding" class="btn-ht">Jump to page</a>
  </div>
</section>
<section class="col span-1-of-6 dis">
  <div>
  <google-adsense [data]="4673998918"></google-adsense>
</div>
</section>
</div>
